h1{color: #ed0909; font-family: Luminari;}
h1 {text-align: center;}
body { background-color:#f5f09e; }
p{ color: #ed0909; font-family: Papyrus; } 
p{text-align: center;}
ul {text-align: center;}
ul {list-style: none}
img {margin-left: 275px;}