h1{color: #262e95; font-family: Luminari;}
h1 {text-align: center;}
body { background-color:#89887e; }
p{ color: #583ccf; font-family: Papyrus; } 
p{text-align: center;}
ul {list-style: none}
ul {text-align: center;}
u {list-style:none;}
img {margin-left: 275px;}