h1{color: #f10e0e; font-family: Apple Chancery;}
h1 {text-align: center;}
body { background-color:#000000; }
p{ color: #f10e0e; font-family: Papyrus; } 
p{text-align: center;}
ul {list-style: none}
ul {text-align: center;}
u{list-style:none;}
img {margin-left: 275px;}